<a href="https://colab.research.google.com/github/ShubhamLipare/Python_notes/blob/main/Map%2CFilter%2CReduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## map(function, iterable)
- Purpose: Applies a function to each item in an iterable.

- Returns: A map object (iterator) which can be converted to a list.

In [1]:
numbers = [1, 2, 3, 4]
squared = map(lambda x: x**2, numbers)
print(list(squared))  # [1, 4, 9, 16]

[1, 4, 9, 16]

## filter(function, iterable)
- Purpose: Filters items from an iterable for which the function returns True.

- Returns: A filter object (iterator).

In [2]:
numbers = [1, 2, 3, 4, 5, 6]
even = filter(lambda x: x % 2 == 0, numbers)
print(list(even))  # [2, 4, 6]

[2, 4, 6]

## reduce(function, iterable)
- Purpose: Applies a function cumulatively to the items of a sequence, from left to right, to reduce it to a single value.

- Requires: from functools import reduce.

- The reduce() function reduces a list (or iterable) to a single value by repeatedly applying a binary function (a function that takes two arguments).

- It’s not built-in directly, so you must import it:

from functools import reduce

syntax:

reduce(function, iterable, [initializer]) initializer is initial value.

- reduce(lambda x, y: x + y, [1, 2, 3], 10)
- Starts with 10: 10 + 1 = 11
- 11 + 2 = 13
- 13 + 3 = 16
- Final result = 16

In [3]:
from functools import reduce
data = [2, 3, 4]
product = reduce(lambda x, y: x * y, data)
print(product)  # Output: 24

24

In [4]:
data = [5, 3, 9, 1]
maximum = reduce(lambda x, y: x if x > y else y, data)
print(maximum)  # Output: 9

9

### Combining all there in single code

You’re using the filter() and map() iterators one after the other without storing them as lists first. But Python iterators (like filter() and map()) are exhausted after one use.

In [5]:
from functools import reduce

ls = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Step 1: Filter even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, ls))
print("Even numbers:", even_numbers)  # [2, 4, 6, 8]

# Step 2: Square each even number
squares = list(map(lambda x: x ** 2, even_numbers))
print("Squared values:", squares)  # [4, 16, 36, 64]

# Step 3: Sum the squared values
total_sum = reduce(lambda x, y: x + y, squares, 0)
print("Total sum:", total_sum)  # 120

Even numbers: [2, 4, 6, 8]
Squared values: [4, 16, 36, 64]
Total sum: 120