# Numeric

In [1]:
import sys

In [2]:
c1 = 100 # Integer data type..
print(c1)
print(type(c1))  # Type of object.
print(sys.getsizeof(c1)) # size of integer object in bytes..

100
<class 'int'>
28

In [3]:
c2 = 10.0 # Float data type..
print(c2)
print(type(c2))  # Type of object.
print(sys.getsizeof(c2)) # size of float object in bytes..

10.0
<class 'float'>
24

In [4]:
c2 = 10.0 # Float data type
print(c2)
print(type(c2)) #type of object
print(sys.getsizeof(c2)) # size of float object in bytes..

10.0
<class 'float'>
24

In [5]:
c3 = 10 +5j  #Complex data type
print(c3)
print(type(c3))  #type of object
print(sys.getsizeof(c3)) # size of complex object in bytes..

(10+5j)
<class 'complex'>
32

In [6]:
print(sys.getsizeof(c1)) # size of integer object in bytes..

28

In [7]:
print(sys.getsizeof(c2)) # size of float object in bytes..

24

In [8]:
print(sys.getsizeof(c3)) # size of complex object in bytes..

32

#  Boolean

* Boolean data type can have only two possible value true or false..

In [9]:
bool1 = True # True = 1
bool1 + 1

2

In [10]:
bool2 = False # False = 0

In [11]:
print(type(bool1))

<class 'bool'>

In [12]:
print(type(bool2))

<class 'bool'>

In [13]:
isinstance(22.5,bool) # isinstance return True if the specified object is of the specified type

False

In [14]:
bool(None) # as true value of 0 is False..

False

In [15]:
bool(0) #as true value of 1 is true

False

In [16]:
bool(-3)

True

In [17]:
bool(2003)

True

In [18]:
bool(44)

True

# Strings..


# String Creation..

In [19]:
str1 = 'Hello  @566565Guys'# Define a string using single quotes
print(str1)
type(str1)

Hello  @566565Guys

str

In [20]:
str1 = "hello"
print(str1)  # Define a string using double quotes

hello

In [21]:
# dahufhs

In [22]:
# hg
# bhbb
'''djf
fhuhf
fdhgh
fdb'''
a = 10
"""d
dvnjv
djnvj"""
b = 20

In [23]:
str1 = '''Happy 
Birthday
to
You'''
print(str1) # Define a string using triple quotes

Happy
Birthday
to
You

In [24]:
str2 = " Oyy" 
str3 = str2*4
print(str3)
print(str2)

 Oyy Oyy Oyy Oyy
 Oyy

In [25]:
len(str3) #Length of string..

16

# String Indexing..

In [26]:
str3 = "adjfvc"

In [27]:
str3[4] # First Character of string..

'v'

In [28]:
str3[-1] # Last Character of string..

'c'

In [29]:
str3[5] # 4th character of string..

'c'

In [30]:
str3[-5]

'd'

#  String Slicing.

In [31]:
str1 = "123 78"
str1

'123 78'

In [32]:
str1[-2] #String Slicing  - Fetch all characters from 0 to 5 index location

'7'

In [33]:
str1[:-1] #String slicing - Retrieve all characters between 6-9 index location

'123 7'

In [34]:
str1[-4:] # Retrieve last four characters of the string..

'3 78'

In [35]:
str1[:-1] # Retreive first four characters of the string..

'123 7'

In [36]:
del str1 # Delete a string..
print(str1)

NameError: name 'str1' is not defined

In [37]:
a_1 = "Jim"
a_2 = "T" + a_1[1:]
print(a_2)

Tim

In [38]:
a_1  ="Jimmy" # Strings are immutable means elements of the string cannot be updated once assigned..
a_1[0] = "T"
print(a_1)

TypeError: 'str' object does not support item assignment

#  # String Concatenation..

In [73]:
s1= ("11")
s2 = ("22")
s3  = s1 + s2
print(s3)

1122

In [40]:
s1= "Hello "
s2 = "How Are You?"
s3  = s1   + s2
print(s3)

Hello How Are You?

In [41]:
a = 3
a
a = 3,0.4,88+ 22j,True
a

(3, 0.4, (88+22j), True)

#  String Membership

In [42]:
q1 = "Job Done"
print("Job" in q1) # Check whether substring "Job" is present in string 
print("Done" in q1) # Check whether substring "Done" is present in string 
print("Khatam" in q1) # Check whether substring "Khatam" is present in string

True
True
False

#  String Functions..

In [43]:
a1 = "@@@#6666Hello@@@###  "
a1

'@@@#6666Hello@@@###  '

In [44]:
a1.strip("@") #Removes white spaces from begining and end

'#6666Hello@@@###  '

In [45]:
a1.rstrip() # Removes all whitespaces at the end of string..

'@@@#6666Hello@@@###'

In [46]:
a1.lstrip("") # Remove all whitespaces at the begining of the string..

'@@@#6666Hello@@@###  '

In [76]:
a2 = "****** Hello Everyone**********"
a2

'****** Hello Everyone**********'

In [77]:
a2.strip('*') # Removes all "*" characters from begining and end..

' Hello Everyone'

In [49]:
a2.rstrip('*') # Removes all "*" charactres at the end of string..

'****** Hello Everyone'

In [50]:
a2.lstrip("*") #Removes all "*" characters at the begining of string..

' Hello Everyone**********'

In [84]:
a3  ="HeLLo  EvEryOne"

In [81]:
a3.strip("e") # Return  whole string in lower case..

'EHeLLo  EvEryOn'

In [53]:
a3

'HeLLo  EvEryOne'

In [54]:
a3.upper() # Return whole string in upper case..

'HELLO  EVERYONE'

In [85]:
a3.replace("He" , "12" )# Replace substring "He" with "Be"

'12LLo  EvEryOne'

In [56]:
a3

'HeLLo  EvEryOne'

In [57]:
a4 = "Qv bbX DDd vfdD AALLSbf ngmSS SSKf bvnbb KKf bgf nhm KLLLL"
a4

'Qv bbX DDd vfdD AALLSbf ngmSS SSKf bvnbb KKf bgf nhm KLLLL'

In [58]:
a4.count("L")

6

In [59]:
a = " 1 2 4 6"

In [60]:
mylist = a.split() # Split String into substring
mylist

['1', '2', '4', '6']

In [61]:

a4 = "LoveYou3000"
print(a4.isalpha()) # returns True if all the characters in the text are letters
print(a4.isalnum()) #returns True if a string contains only letters or numbers
print(a4.isdecimal()) # returns True if all the characters are decimals (0-9)
print(a4.isnumeric()) # returns True if all characters are numeric (0-9)

False
True
False
False

In [62]:
a1 = "dgbc"
print(a1.isalpha()) # returns True if all the characters in the text are letters

True

In [63]:
a1 = "dsgf6666"
print(a1.isalnum()) #returns True if a string contains only letters or numbers

True

In [64]:
a1 = "255"
print(a1.isdecimal()) # returns True if all the characters are decimals (0-9)

True

In [65]:
a1 ="884"
print(a1.isnumeric()) # returns True if all characters are numeric (0-9)

True

In [66]:
a1 ="PPPDDDAA"
print(a1.isupper()) # returns True if all characters are in upper case

True

In [67]:
a1 ="sfbbb"
print(a1.islower()) # returns True if all characters are in lower case

True

In [68]:
a2 = "****** Hello Everyone**********"
a2

'****** Hello Everyone**********'

In [69]:
a2.strip('*') # Removes all "*" characters from begining and end..

' Hello Everyone'

In [70]:
a2.rstrip('*') # Removes all "*" charactres at the end of string..

'****** Hello Everyone'

In [71]:
a2.lstrip("*") #Removes all "*" characters at the begining of string..

' Hello Everyone**********'