#  The if…elif…else statement is used in Python for decision making.

In [2]:
# if syntax
if test expression:
    statement(s) 
# Here, the program evaluates the test expression and will execute statement(s) only if the test expression is True.

If the test expression is False, the statement(s) is not executed.

SyntaxError: invalid syntax (<ipython-input-2-e2756745370a>, line 2)

In [1]:
# If the number is positive, we print an appropriate message

a = -22
if a > 0:
    # test expression
    print(3, "is a positive number.") # statement


 

if a < 0:  # test expression
    print(9, "is a positive number.")  # statement

9 is a positive number.

In [7]:
a = -3
if a<0:
    print(a,"is negative number.")

-3 is negative number.

#  Python if...else Statement

In [6]:
# Syntax of if...else
if 
    Body of test expression:if
else:
    Body of else

SyntaxError: invalid syntax (<ipython-input-6-80a5f26e4628>, line 2)

* The if..else statement evaluates test expression and will execute the body of if only when the test condition is True.

* If the condition is False, the body of else is executed. Indentation is used to separate the blocks.

In [7]:
# Program checks if the number is positive or negative
# And displays an appropriate message

num = [11,22,33]

# Try these two variations as well. 
# num = -5
# num = 0

if 11  not in num:print("Positive or Zero")
else: print("Negative number")

Negative number

In [8]:
a =" "
if a == "Pagal":
    print("positive or zero")
else:
    print("Negtive no")

Negtive no

#  Python if...elif...else Statement

In [8]:
# Syntax of if...elif...else
if test expression:
    Body of if
elif test expression:
    Body of elif
else: 
    Body of else

SyntaxError: invalid syntax (<ipython-input-8-d64a63742138>, line 2)

* The elif is short for else if. It allows us to check for multiple expressions.

* If the condition for if is False, it checks the condition of the next elif block and so on

In [2]:
'''In this program, 
we check if the number is positive or
negative or zero and 
display an appropriate message'''

num = 55

# Try these two variations as well:
# num =  0
# num = -4.5

if num < 0:# Test Expression
    print("Positive number") # Statement
elif num == 0:       # Test Expression
    print("Zero")  # Statement
elif num >= 10:
    print("Greater than 10")
else:
    print("Negative number") # Statement
type(num)

Greater than 10

int

In [10]:
b1 =-8
if b1>0:
    print("Positive no.")
    
elif b1==0:
    print("zero")
else:
    print("negative no")
type(b1)

negative no

int

In [10]:
# When variable num is positive, Positive number is printed.

# If num is equal to 0, Zero is printed.

# If num is negative, Negative number is printed.

* The control flow statements are divided into three categories..
1. Conditional statements(if,if-else,if-else-else)
2. Transfer statements(for,while)
3. Iterative statements(break,continue,pass)

# Condition Statement

* Condition statements act depending on whether a given condition is true or false..

In [3]:
number = 8
if number > 5: # test expression
    # Calcuate square
    print(number * number) # statement

64

In [3]:
number = 4
if number < 5:
    # Calcuate square
    print(number * number)

16

In [4]:
a = 100
b = 10
if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [55]:
a = 100
b = 100
if b>a:
    print("b is greater than a")
elif a == b:
    print(" a and b are equal")
else:
    print("a is greater than b")

 a and b are equal

In [6]:
a = input("Enter your bank account details")
a

Enter your bank account details00000000

'00000000'

In [7]:
# Nested- if 
# a = 12
# Check the type of a
# str(a)
# Now check the type of a
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
if a >= b:
    print(a, "is greater than ", b)
    if a == b:
        print(a, "and", b, "are equal")
else:
    print(a,"is smaller than", b)

Enter the first number22
Enter the second number23
22 is smaller than 23

In [22]:
x = 55
if x > 10:
    print("Above Ten")
    if x > 10 and x <20 :
         print("and also above 20!")
    else:
         print(" Above 10 but not above 20!")

Above Ten
 Above 10 but not above 20!

In [27]:
# Instead of writing a block after the colon,we can write a statement immediately after the 
number = int(input("Enter the first number"))
if number > 0: print("positive")
    
else:  print("negative")

Enter the first number-22
negative

# Transfer statement

* For Loop: Using for loop, we can iterate any sequence or iterable variable. The sequence can be string, list,dictionary, set or tuple.

In [29]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range(1,11):
    print(i, end =" ")

1 2 3 4 5 6 7 8 9 10

In [6]:
for x in range(3,31,3):
    print(x)

3
6
9
12
15
18
21
24
27
30

In [12]:
fruits = ["apple","banana","cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

# Nested for loop

In [9]:
 adj = ["tasty","Bekaar","Bakwas"]
fruits = ["apple","banana","cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

tasty apple
tasty banana
tasty cherry
Bekaar apple
Bekaar banana
Bekaar cherry
Bakwas apple
Bakwas banana
Bakwas cherry

# While Loop

*  The while loop statement repetedly executes a code block while a particular condition is true/as long as condition is true.

In [1]:
i = 1
while i <6:
    print(i)
    i +=  1 # i = i + 1

1
2
3
4
5

In [3]:
# Example to calculate the sum of  first ten numbers..

In [2]:
num = 10
sum = 0
i = 1
while i <= num:
    sum = sum + i 
    i = i + 1
    
print("Sum of first 10 number is:", sum)

Sum of first 10 number is: 55

# Break Statement

* Python break statement brings control out of the loop.
* If it matches the condition then it will end the loop instantly.

# For loop with break statement

In [9]:
list = [1,2,3,4,5,6]
for x in list:
    if x >= 3:
        break
    print(x)

1
2

In [25]:
for num in range(10):
    if num > 5:
        break
    print(num)

0
1
2
3
4
5

# For loop with continue statement

* Python continue statement returns the control to the begining of the loop.If its matches the condition, then skip that value and continue the loop

In [10]:
for letter in "Nettech":
    if letter == "t":
        continue
    print("Current Letter", letter)

Current Letter N
Current Letter e
Current Letter e
Current Letter c
Current Letter h

In [12]:
for letter in "Nettech":
    if letter == "t":
        continue
    print("Current Letter", letter)

Current Letter N
Current Letter e
Current Letter e
Current Letter c
Current Letter h

In [20]:
for letter in "Nettech":
    if letter == "e":
        continue
    print( letter, end = " ")

N t t c h

In [1]:
for num in range(3,8):
    if num == 5:
        continue # a lso check for break in the same code..
    else:
        print(num)

3
4

# For loop with pass statement

* pass statement:- In python pass is a null statement. The interpreter does not ignore a pass statement,but nothing happend and statement results into no operation.

In [3]:
months = ["Jan","Feb","March","May","June"]
for j in months:
    
    print(months)

['Jan', 'Feb', 'March', 'May', 'June']
['Jan', 'Feb', 'March', 'May', 'June']
['Jan', 'Feb', 'March', 'May', 'June']
['Jan', 'Feb', 'March', 'May', 'June']
['Jan', 'Feb', 'March', 'May', 'June']

In [6]:
a = 300 
b = 0
if b> a:
    pass
print("b is greater than a")

b is greater than a

In [19]:
a = 3 
b = 200
if b> a:

b is greater than a

# While loop with break statement

In [38]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

#  While loop with continue statement

In [15]:
i = 1
while i < 6:
    i += 1
    if  i == 3:
        continue
    print(i)

2
4
5
6

# While loop with pass statement

In [43]:
n = 4
while n > 0:
    n = n -1
    pass
    print(n)

3
2
1
0

 # For loop with else

In [17]:
for i in range(1,5):
    print(i)
else:
    print("No break")

1
2
3
4
No break

# While loop with else

In [19]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Nested for loop

In [23]:
# Example : Write a nested for loop program to print multiplication table in python

# outer loop
for i in range(1,11):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1,11):
        # print multiplication
        print(i*j, end =" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [36]:
# Another most common use of nested loop is to print various star and number pattern..

rows = 5
# outer loop
for i in range(1, rows + 1):
    # inner loop
    for j in range(1, i+1):
        print("*", end = " ")
    print(" ")

*
* *
* * *
* * * *
* * * * *

# Nested while loop

In [35]:
fruits = ["apple","banana","cherry"]

# outer loop
for x in fruits:
    # inner loop
    count = 0
    while count < 4:
        print(x, end =" ")
        # increment counter
        count = count + 1
    print()

apple apple apple apple
banana banana banana banana
cherry cherry cherry cherry