# Functions

* A function is a block of organised code written to carry out a specific task.

* Function help break our program into smaller and modular chunks for better readibility.

* Information can be passed into a function as arguments.

* Parameters are specified after the function name inside the parenthesis.

* We can add as many parameters as we want. Parameters must be seprated with a comma.

* A function may or may not return data.

* In python a function is defined using the def keyword.

# Parameters Vs Arguments

* A parameter is the variable listed inside the parenthesis in the function defination.
* An argument is the value that is sent to the function when it is called.

# Three types of functions in python

* Built - in Function: Python predefined functions that are readily avaliable for use like min(),max(), sum(),print() etc.

* User defined Functions : Function that we define ourselves to perform a specific task.

* Anonymous functions: Function that is defined without a name.Anonymous functions are also called as lambda functions.They are not declared with def keyword.

In [5]:
print("Happy Diwali..")
type("Happy Diwali..")

Happy Diwali..

' '

In [6]:
def myfunc():
    print("Hello Python Lovers")
myfunc()

Hello Python Lovers

In [9]:
def cube(m):
    M = m * m *m
    return M
cube(10)

1000

In [7]:
def square(n): # function to find square of a number 
    N = n*n
    return N
square(10)

100

In [2]:
# a,b
a = 12

In [11]:
def even_odd (num): # Even odd test 
     
    
    if num % 2 == 0:
        print(num,"is even number")
    elif num == 0:
        print("Zero")
    else:
            print(num, "is odd number")
            
even_odd(3)
even_odd(32) 
even_odd(0)

3 is odd number
32 is even number
0 is even number

In [12]:
    def fullname (firstname, middlename, lastname):  # Concatenate strings
        
        print(fullname)
    fullname("Alia","Ranbir","Kapoor")
    print(fullname)

<function fullname at 0x000002219693CCA0>
<function fullname at 0x000002219693CCA0>

In [16]:
def fullname (firstname="Alia", middlename="Ranbir", lastname="Kapoor"): # Concatenate strings
        fullname = "{} {} {}".format(firstname,middlename,lastname)
        print(fullname)
fullname()

Alia Ranbir Kapoor

In [17]:
def Diwali():
    Diwali = "{0},{0},{0}".format("Crackers","Clothes","Food")
    print(Diwali)
Diwali()

Crackers,Crackers,Crackers

In [17]:
def myfunc(city = "Mumbai"):
    print("Most populated city:-", city)
myfunc() # When a function is called without an argument it will use default value

Most populated city:- Mumbai

# Global & Local Variable

In [18]:
var1 = 50# Variable with Global scope.
def myfunc():
    var1 = 100
    
    print(var1) # Value 100 will be displayed due to global scope of var1
    
myfunc()
var1

100

50

In [19]:
var1

50

In [20]:
var2 = 10
def myfunc1():
     # variable with local scope
    print( var2)

def myfunc2():
    print(var2) #This will throw error because var2 has a local scope.
    
myfunc1()
myfunc2()

10
10

In [4]:
var1 = 100 # Variable with Global scope.
def myfunc():
    var1 = 99 # Local scope
    print(var1)
    
myfunc()
print(var1) # The orignal value of var1(100) will be retained due to global scope

99
100

In [21]:
list1 = [11,22,33,44,55]
def myfunc(list1):
    del list1[0]
print('"list1" before calling the function:- ' , list1)
myfunc(list1) # Pass by reference  (any change in the parameter within the function)
print('"list1 after calling the function:-"',list1)

"list1" before calling the function:-  [11, 22, 33, 44, 55]
"list1 after calling the function:-" [22, 33, 44, 55]

In [22]:
list1 = [11,22,33,44,55]
def myfunc(list1):
    list1.append(100)
print('"list1" before calling the function:- ' , list1)
myfunc(list1) # Pass by reference  (any change in the parameter within the function)
print('"list1 after calling the function:-"',list1)

"list1" before calling the function:-  [11, 22, 33, 44, 55]
"list1 after calling the function:-" [11, 22, 33, 44, 55, 100]

In [8]:
a = 10
b = 20
def swap(a,b):
    temp = a
    a = b # link of "a" with previous object is broken now as new object is 
    b = temp # link of "a" with previous object is broken now as new object is 
    

swap(a,b)
a,b

(10, 20)

In [28]:
def factorial(num): 
    if num<= 1:
        return 1
    else:
        return num* factorial(num -1)
factorial(4)

24

In [34]:
def add(num): # Sum of first n natural numbers
    if num == 0:
        return 0
    else:
        return num + add(num -1)
add(5) # Sum of first 5 natural no(1+2+3+4+5)

15

In [13]:
def fibonacci(num):
    if num <= 1:
        return num
     
    else:
        return(fibonacci(num - 1) + fibonacci(num - 2))
nums = int(input("How many fibonacci numbers you want to generate -"))

for i in range(nums):
    print(fibonacci(i)) # Generate Fibonacci series

How many fibonacci numbers you want to generate -10
0
1
1
2
3
5
8
13
21
34

# Lambda function

* A lambda function is an anonymous function(function without a name).

* Lambda function can have any number of arguments but only one expression.The expression is evaluated and returned.

* We use lambda function when we require a nameless function for a short period of time.

In [20]:
addition = lambda a :a + 10 # This lambda function adds value 10 to an argument..
print(addition(5))

15

In [3]:
product = lambda a, b: a * b # This lambda function takes two arguments (a,b)
print(product(5,6))

30

In [22]:
addition = lambda a,b,c : a + b + c # This lambda function takes three argument..
print(addition("Hello"," Hii"," Hola"))

Hello Hii Hola

In [1]:
product = lambda q,w,e:q+w-e
print(product(5,6,12))

-1

In [24]:
x = lambda a : a * 3
print(x("Padh Le Bhai "))

Padh Le Bhai Padh Le Bhai Padh Le Bhai

In [17]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2) #a function that always doubles the number you send

print(mydoubler(11))

22

In [18]:
def myfunc(n):
    return lambda a,b : a * b* n

mytripler = myfunc(3) # a function that always triples the number you send 

print(mytripler(11,12))

396

In [1]:
def myfunc(n):
     return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(10))

22
30

In [2]:
def myfunc(n):
     return lambda a : a + n

add20 = myfunc(20)
add30 = myfunc(30)
add40 = myfunc(40)

print(add20(4))
print(add30(5))
print(add40(6))

24
35
46

In [2]:
list1 = [1,2,3,4,5,6,7,8,9]
# The below filter function filters "list1" and passes all odd numbers using lambda function
even_num = list(filter(lambda n:n%2 == 0, list1))
even_num

[2, 4, 6, 8]

In [7]:
list1 = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda n: n%2 ==0, list1)) # filter even numbers from the list
odd  = list(filter(lambda n: n%2 !=0, list1)) # filter odd numbers fro the list

In [8]:
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [11]:
list2 = ["one","two","Three","four","five","HELLO","WAKE UP"]
upper = list(filter(lambda x:x.isupper(), list2))
lower = list(filter(lambda x:x.islower(), list2))

In [12]:
print(upper)
print(lower)

['HELLO', 'WAKE UP']
['one', 'two', 'four', 'five']

# The map() function applies a given function to each item of an iterable (list,tuple etc.) and returns an iterator.

# The map() function takes two parameters:

# function - a function that perform some action to each element of an iterable

# iterable - an iterable like sets, lists, tuples, etc

In [29]:
output = map(lambda x: x +3 , [1,2,3,4,5])
print(output)
type(output)
print(set(output))

<map object at 0x000002219695A5B0>
{4, 5, 6, 7, 8}

In [5]:
# User defined map fn
def new(x):
    return x*x
# map[]def_name,value]
x = list(map(new,[1,2,3,4]))
print(x)

[1, 4, 9, 16]

In [13]:
def new(a):
    return a*a
x = map(new,[1,2,3,4,5,6,7,8])
print(x)
print(list(x))

<map object at 0x000001A9FDD87700>
[1, 4, 9, 16, 25, 36, 49, 64]

In [21]:
def new(a,b):
    return a*b
x = list(map(new,[5,6,7,8],[15,25,35,45]))
print(x)
# print(list(x))

[75, 150, 245, 360]

In [16]:
# lambda fn along with map fn(lambda fn provides i/p to other fns)
a = [1,2,3,4,5]
y = list(map(lambda x: x+3, a))
print(y)

[4, 5, 6, 7, 8]

In [26]:
numbers = ("asd","Affjn")
result = map(lambda x: x+x, numbers)
a =list(result)
a

# converting map object to set
#numbersSquare = (result)
#print(numbersSquare)

['asdasd', 'AffjnAffjn']

In [21]:
num1 = [4, 5, 6]
num2 = [5, 6, 7]

result = map(lambda n1, n2: n1+n2, num1, num2)
print(list(result))

[9, 11, 13]

# The filter() function returns an iterator were the items are filtered through a function to test if the item is accepted or not.

# Syntax :- filter(function, iterable)

In [30]:
# a list contains both even and odd numbers.
seq = [0, 1, 2, 3, 5, 8, 13,15,18,21,25,32,45,52]

# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13, 15, 21, 25, 45]
[0, 2, 8, 18, 32, 52]

In [31]:
letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o','s','q','t','w']

# a function that returns True if letter is vowel
def filter_vowels(k):
    vowels = ['a', 'e', 'i', 'o', 'u']
    return True if k in vowels else False

filtered_vowels = filter(filter_vowels, letters)



print(list(filtered_vowels))

['a', 'e', 'i', 'o']

In [39]:
# Here, the filter() function extracts only the vowel letters from the letters list. Here's how this code works:

# Each element of the letters list is passed to the filter_vowels() function.

#If filter_vowels() returns True, that element is extracted otherwise it's filtered out.

In [42]:
numbers = [1, 2, 3, 4, 5, 6, 7,23,14,98,66,54,25,67]

# the lambda function returns True for even numbers 
even_numbers_iterator = filter(lambda x: (x%2 == 0), numbers)

# converting to list
even_numbers = list(even_numbers_iterator)

print(even_numbers)

[2, 4, 6, 14, 98, 66, 54]

In [44]:
numbers = [1, 2, 3, 4, 5, 6, 7,11,12,14,15,18,19]

# the lambda function returns True for odd numbers 
odd_numbers_iterator = filter(lambda x: (x%2 != 0), numbers)

# converting to list
odd_numbers = list(odd_numbers_iterator)

print(odd_numbers)

[1, 3, 5, 7, 11, 15, 19]

In [6]:
# random list
random_list = [-5, 2 + 2j, 0, False, True, '5']
# When None is used as the first argument to the filter() function

# all elements that are truthy values (gives True if converted to boolean) are extracted.

filtered_iterator = filter(None, random_list)

#converting to list
filtered_list = list(filtered_iterator)

print(filtered_list)

[-5, (2+2j), True, '5']

# reduce() in Python

#  Python offers a function called reduce() that allows you to reduce a list in a more concise way.

In [47]:
# Syntax ;-reduce(fn,list)

In [49]:
#Unlike the map() and filter() functions, the reduce() isn’t a built-in function in Python. 

# In fact, the reduce() function belongs to the functools module.

#To use the reduce() function, you need to import it from the functools module.

In [3]:
from functools import reduce

In [7]:
from functools import reduce
# calculates the product of two elements
def product(x,y):
    return x*y

ans = reduce(product, [2, 5,3,2])
print(ans)

60

In [13]:
from functools import reduce

def sum(a, b):
    print(f"a={a}, b={b}, {a} + {b} ={a+b}")
    return a + b


scores = [75, 65, 80, 95, 50]
total = reduce(sum, scores)
print(total)

a=75, b=65, 75 + 65 =140
a=140, b=80, 140 + 80 =220
a=220, b=95, 220 + 95 =315
a=315, b=50, 315 + 50 =365
365

In [2]:
# Program to show the use of lambda functions
double = lambda x: x * 2

print(double(50))

100

# Positional Argument

In [3]:
a = "Hello"
def pp():
    a = "Kao"
    print(a)

In [4]:
pp()

Kao

In [ ]:
a = "Laila"

In [ ]:
# a is parameter
# Laila is argument of the parameter

In [54]:
# reduce() function cumulatively adds two elements of the list from left to right and reduces the whole list into a single value.

In [52]:
from functools import reduce

scores = [75, 65, 80, 95, 50]

total = reduce(lambda a, b: a + b, scores)

print(total)

365

In [53]:
# Use the Python reduce() function to reduce a list into a single value.

In [60]:
from functools import reduce

# pre-defined function to calculate minimum
def mini(a, b):
    
    return a if a < b else b

# pre-defined function to calculate maximum
def maxi(a, b):
    
    return a if a > b else b

nums = [3, 5, 2, 4, 7, 1,11,17,98,88,54,66]

# passing both functions in the reduce along with nums as iterable
print(f'The minimum in the given list is {reduce(mini, nums)}')
print(f'The maximum in the given list is {reduce(maxi, nums)}')

The minimum in the given list is 1
The maximum in the given list is 98

In [14]:
# creating a function to check if both arguments are True or not
def is_true(a, b):
    return bool(a and b)

print(reduce(is_true, [1, 1,0, 1,0, 1, 0,0,0]))

print(reduce(is_true, [1, 1, 1, 1, 1]))

False
True

In [65]:
# In the first example all elements in the iterable are 0,1 because of which reduce function returns false
# while in the second example all elements are 1 which makes the whole iterable return True.

#  Difference Between Map and Reduce

# After learning about Reduce you might have got confused between reduce and map function . 

# The main difference between these two is that map() is applied to every item of an iterable one at the time and in result an iterator is returned.

In [2]:
# using map function with lambda function on an iterable
ans = map(lambda a: 2*a, [3, 5])

# to check what is the type of map() 
print(type(ans))
 
print(tuple(ans))
type(ans)

<class 'map'>
(6, 10)

map

In [1]:
a = (1,2,3,[4,5,6],7)

In [ ]:
b = [11,22,333,[44,55,66]]

In [6]:
def pp(n):
    if n == 0:
        return 1
    else:
        return n*pp(n-1)

In [7]:
pp(4)

24

In [12]:
a = int(input("Enter between 1-5"))
a

Enter between 1-5    8

8

In [19]:
a = [22,33,44]
max(a)

44

In [20]:
min(a)

22

In [22]:
type(a)

list

In [23]:
import pandas as pd

In [27]:
a = pd.read_excel("FashionDataset.xlsx")

In [26]:
a.head(10)

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
5,5,2020,EN,FT,Data Analyst,72000,USD,72000,US,100,US,L
6,6,2020,SE,FT,Lead Data Scientist,190000,USD,190000,US,100,US,S
7,7,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
8,8,2020,MI,FT,Business Data Analyst,135000,USD,135000,US,100,US,L
9,9,2020,SE,FT,Lead Data Engineer,125000,USD,125000,NZ,50,NZ,S

In [28]:
import numpy as np

In [29]:
a = np.array(4)

In [30]:
a1 = np.array([44,55,66])

In [31]:
a1

array([44, 55, 66])

In [32]:
a

array(4)

In [34]:
type(a1)

numpy.ndarray

In [37]:
a = pd.Series([44,33 + 22j, 44.65])

In [38]:
a

0    44.00+0.00j
1     33.0+22.0j
2    44.65+0.00j
dtype: complex128