# creating a numpy array

In [1]:
import numpy as np

In [21]:
arr = np.array([11,23,456,77]) 
print(arr)
type(arr)
# Creating array of 1 element
a = np.array(10)
a

type(arr)

[ 11  23 456  77]

numpy.ndarray

# Creating a Numpy Array

In [23]:
a = np.array([[1.1,55,66],[569,788,965],[566,988,756]])
a

array([[  1.1,  55. ,  66. ],
       [569. , 788. , 965. ],
       [566. , 988. , 756. ]])

In [3]:
b = np.ones((5,6)) # (rows,columns)
b

array([[1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [3]:
c = np.arange(6)
c

array([0, 1, 2, 3, 4, 5])

In [3]:
d = np.zeros((5,3))
d

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [8]:

f = np.zeros((3,3,4))
f

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [6]:
e = np.ones((5))
e
import numpy as np

In [5]:
f = np.identity((3)) # Only Make diagonal Elements as ones..
f

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [7]:
d = np.identity(8)
d

array([[1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.]])

In [15]:
import numpy as np
g = np.linspace(15,30,10)
g

array([15.        , 16.66666667, 18.33333333, 20.        , 21.66666667,
       23.33333333, 25.        , 26.66666667, 28.33333333, 30.        ])

In [24]:
# []---1D, [[]]---2D, [[[]]]----3D

In [12]:
# Creating a numpy array

In [13]:
a = np.array([[22,33,44,99],[33,69,87,20],[655,533,246]])
a

<ipython-input-13-f2a7e74af836>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  a = np.array([[22,33,44,99],[33,69,87,20],[655,533,246]])

array([list([22, 33, 44, 99]), list([33, 69, 87, 20]),
       list([655, 533, 246])], dtype=object)

In [14]:
b = np.zeros((5))
b

array([0., 0., 0., 0., 0.])

In [15]:
c = np.ones((5))
c

array([1., 1., 1., 1., 1.])

In [16]:
d = np.identity(8)
d

array([[1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.]])

In [23]:
# 3 input
# lower range,upper range, Kitne ka jump lena hai..
e = np.linspace(0,4,1)
e

array([0.])

In [2]:
import numpy as np

# properties And Attributes

In [2]:
import numpy as np
arr1 = np.array([[11.0,22,33],[77,88,99],[45,88,96]])
arr1

array([[11., 22., 33.],
       [77., 88., 99.],
       [45., 88., 96.]])

In [13]:
# shape is an attribute
# Attributes are function objects that define corresponding methods of
arr1.shape

(3, 3)

In [19]:
# [] (1-D),[[]] (2-D), [[[]]] - (3D)
arr3 = np.array([[[1,2,4],[3,4,4.4],[5,6,5],[7,8,7]]])
arr3
arr3.shape

(1, 4, 3)

In [23]:
arr3.ndim

3

In [14]:
arr1.ndim

2

In [12]:
arr1.size

9

In [21]:
arr3.size # size of the matrix elements..

12

In [3]:
arr1.itemsize # size of the matrix element in bytes..

8

In [14]:
arr3.itemsize

8

In [24]:
arr4 = np.zeros(5)
arr4.itemsize
arr4

array([0., 0., 0., 0., 0.])

In [31]:
arr4.dtype #

dtype('float64')

In [29]:
arr3.dtype

dtype('int32')

In [33]:
arr1.dtype

dtype('float64')

In [25]:
# Type Conversion
# It is used in data cleaning & age is in float and we convert it into int 
# Memory bach jaega..
arr4.astype("int")

array([0, 0, 0, 0, 0])

In [27]:
arr4.dtype
arr4 #Type conversion is not a permenent operation..

array([0., 0., 0., 0., 0.])

In [36]:
# Creating 1-D array
a = np.array([2,3])
a.ndim

1

In [37]:
# Creating 2-D array
a1 = np.array([[2,2],[5,5],[6,6]])
a1.ndim

2

In [23]:
# Creating 3-D array
a11 = np.array([[[22,22],[55,55],[89,65],[63.5,55]]])
a11.ndim

3

In [24]:
a11.dtype

dtype('float64')

In [40]:
a1.dtype

dtype('int32')

In [41]:
a1.itemsize

4

In [42]:
a1.size

6

# Numpy(array) Vs List

In [43]:
''' Array are faster
Array are convinient
Array take less memory for same itemsize and itemtype'''

' Array are faster\nArray are convinient\nArray take less memory for same itemsize and itemtype'

In [2]:
# lets check the memory first
lista = range(100)
lista

range(0, 100)

In [3]:
a11 =np.arange(100)
a11

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [4]:
import sys
# sys means system

In [47]:
print(sys.getsizeof(55)* len(lista))
# 87- is in between (0-99)
# It is in that list
# Us item ko length of list se *

2800

In [48]:
print(a11.itemsize*a11.size)
# itemsize ;- Ek item ka size
# size :- No of items

400

# See the diffrence

#  Indexing

In [17]:
a1 = np.arange(24)
a1 = np.arange(24).reshape(6,4) #Change the shape of array if possible..24 = [12,2],[6,4],[4,6],[2,12]
a1

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [26]:
a1[:5]# [: , :]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [19]:
a1[:-2]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [58]:
a2[:-6]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17])

In [37]:
a1 = np.arange(12)
a1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [40]:
a1.reshape(4,3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [33]:
a1 # [for rows,for columns]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [27]:
  a3 = np.arange(24).reshape(6,4)
a3

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [9]:
a1[-1,-2:]

array([22, 23])

In [5]:
import numpy as np
a1 =np.arange(24).reshape(6,4)
a1[1:3,1:3]

array([[ 5,  6],
       [ 9, 10]])

#  Slicing

In [13]:
a1[-6:-5,-3:-1] # for column 2,6

array([[1, 2]])

In [10]:
a1[2:4,0:1]

array([[ 8],
       [12]])

In [12]:
a1[:2] # For first two rows

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [13]:
a1[5:6] # fOR LAST Row

array([[20, 21, 22, 23]])

In [18]:
a1[:, -1:] # For last column

array([[ 3],
       [ 7],
       [11],
       [15],
       [19],
       [23]])

In [16]:
a1[2:4] # For 2 middle rows

array([[ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [17]:
a1[:,1:3] # For 2 Middle Columns

array([[ 1,  2],
       [ 5,  6],
       [ 9, 10],
       [13, 14],
       [17, 18],
       [21, 22]])

In [12]:
a3

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [13]:
a3[-3:-1,-3:-1] #[rows,columns]

array([[13, 14],
       [17, 18]])

In [14]:
a3[4:6,0:2]

array([[16, 17],
       [20, 21]])

In [88]:
a3[4:6,2:4]

array([[18, 19],
       [22, 23]])

In [89]:
a3[0:2,0:2]

array([[0, 1],
       [4, 5]])

In [91]:
a3[0:2,2:4]

array([[2, 3],
       [6, 7]])

# Iteration

In [92]:
a3

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [96]:
for i in a3: #Row ke hisab se print
    print(i)

[0 1 2 3]
[4 5 6 7]
[ 8  9 10 11]
[12 13 14 15]
[16 17 18 19]
[20 21 22 23]

In [98]:
# JAise ki we can add a filter to every pixel of an image
for i in np.nditer(a3): # Ek ke baad ek aise print
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

#  Numpy Operations..

In [14]:
bb1 = np.array([11,22,33,44,55,66])
bb2 = np.array([21,22,23,24,25,26])

In [37]:
bb2 = bb1
bb1

array([21, 22, 23, 24, 25, 26])

In [101]:
b1 - b2 # Element wise subtraction

array([-10,   0,  10,  20,  30,  40])

In [103]:
b1* b2 # Element - wise multiplication(Vector Multiplication)

array([ 231,  484,  759, 1056, 1375, 1716])

In [104]:
b1*2 #Scalar multiplication of a vector

array([ 22,  44,  66,  88, 110, 132])

In [106]:
b1>3 #Check the Condition..

array([ True,  True,  True,  True,  True,  True])

In [3]:
b3 = np.arange(6).reshape(2,3)
b4 = np.arange(6,12).reshape(3,2)

NameError: name 'np' is not defined

In [108]:
b3.dot(b4)

array([[ 28,  31],
       [100, 112]])

In [109]:
b1.dot(b3)

ValueError: shapes (6,) and (2,3) not aligned: 6 (dim 0) != 2 (dim 0)

In [2]:
import numpy as np

In [60]:
b3 = np.array([21,22,23,24,25,26])

In [61]:
b3.max()

26

In [62]:
b3.min()

21

In [22]:
b3 = np.arange(6).reshape(2,3)
b3

array([[0, 1, 2],
       [3, 4, 5]])

In [58]:
b3.min(axis=0) # For rows

array([0, 1, 2])

In [65]:
b3.max(axis=1) # For columns

array([2, 5])

In [66]:
b3.sum()

15

In [117]:
b3.sum(axis = 0)

array([3, 5, 7])

In [118]:
b3.sum(axis = 1)

array([ 3, 12])

In [122]:
b3.mean()  # Can do axis =[0,1]

2.5

In [121]:
b3.std() # Can do axis =[0,1]

1.707825127659933

In [123]:
np.median(b3)

2.5

In [124]:
np.sin(b3)

array([[ 0.        ,  0.84147098,  0.90929743],
       [ 0.14112001, -0.7568025 , -0.95892427]])

In [ ]:
# []--1 D # [[]] -- 2D # [[[]]]-- 3D

#  Reshaping Numpy Array

* Reshape works only on Factors

In [23]:
b3

array([[0, 1, 2],
       [3, 4, 5]])

In [127]:
b3.ndim

2

In [129]:
b3.ravel() # Convert it into (1-D) WITHOUT loosing info

array([0, 1, 2, 3, 4, 5])

In [131]:
b3.transpose() # Row changes to column ,Column changes to row

array([[0, 3],
       [1, 4],
       [2, 5]])

In [26]:
b3[[1,3]]

IndexError: index 3 is out of bounds for axis 0 with size 2

In [2]:
import numpy as np
b4 = np.arange(24).reshape(6,4)
b4

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

#  Fancy Indexing..

In [3]:
b4[[0,3]] #For Discontinious rows/Columns

array([[ 0,  1,  2,  3],
       [12, 13, 14, 15]])

In [144]:
b4[[1,3,5]]

array([[ 4,  5,  6,  7],
       [12, 13, 14, 15],
       [20, 21, 22, 23]])

In [6]:
import numpy as np
b = np.array([1,22,33])
b

array([ 1, 22, 33])